# --- ETA Direct (Claro) ---
ETA_BASE_URL=https://claro-ec.etadirect.com/
ETA_USERNAME=TU_USUARIO
ETA_PASSWORD=TU_PASSWORD

# --- Playwright ---
PW_HEADLESS=true
PW_SLOWMO_MS=0
PW_TIMEOUT_MS=60000

# --- Storage ---
PROJECT_DATA_DIR=./data
PROJECT_LOG_DIR=./logs

# --- App ---
APP_ENV=dev
